openapi: 3.1.0

# todo accesstoken è diverso da quello già definito? - direi di si

info:
  title: Terminal Registry Microservice
  version: 1.0.0
  description: Terminal Registry Microservice for Multi-channel Integration Layer of SW Client Project
  contact:
    name: Antonio Tarricone
    email: antonio.tarricone@pagopa.it

servers:
  - description: DEV
    url: https://mil-d-apim.azure-api.net/mil-terminal-registry
  - description: UAT
    url: https://mil-u-apim.azure-api.net/mil-terminal-registry

security:
  - bearerAuth: [] #todo rivedere ref

paths:
  /terminals:
    post:
      operationId: createTerminal
      summary: Create a new terminal
      requestBody:
        $ref: '#/components/requestBodies/Terminal'
      parameters:
        - in: header
          name: RequestId
          schema:
            $ref: '#/components/parameters/RequestId'
      responses:
        "201": #todo vedere mil-idpay per l'header della risposta
          $ref: '#/components/responses/' #TODO sequence dice soltanto OK
        "400":
          description: Terminal already exists
        "401":
          description: Terminal already exists
        "403":
          description: Terminal already exists
        "409":
          description: Terminal already exists
        "429":
          description: Terminal already exists
        "500":
          $ref: '#/components/responses/Error' #todo allineare con il codice applicativo
        default:
          description: Unexpected error

#  /token:
#    post:
#      operationId: getAccessToken
#      summary: Returns access token by means of resource owner password or refresh token
#      security: [ ]
#      parameters:
#        - $ref: '#/components/parameters/RequestId'
#        - $ref: '#/components/parameters/Version'
#        - $ref: '#/components/parameters/AcquirerId'
#        - $ref: '#/components/parameters/Channel'
#        - $ref: '#/components/parameters/MerchantId'
#        - $ref: '#/components/parameters/TerminalId'
#        - $ref: '#/components/parameters/FiscalCode'
#      requestBody:
#        $ref: '#/components/requestBodies/GetAccessToken'
#      responses:
#        "201":
#          $ref: '#/components/responses/AccessToken'
#        "400":
#          $ref: '#/components/responses/Error'
#        "401":
#          description: Wrong credentials.
#        "403":
#          description: Forbidden
#        "406":
#          description: Not acceptable. Did you require application/json?
#        "415":
#          description: Unsupported media type. Did you provide application/x-www-form-urlencoded?
#        "429":
#          description: Too many request
#        "500":
#          $ref: '#/components/responses/Error'
#        default:
#          description: Unexpected error

components:
  # ========================================================
  # Schemas
  # ========================================================
  schemas:
    # ------------------------------------------------------
    # Basic types
    # ------------------------------------------------------
    TerminalHandlerId:
      description: #TODO
      type: string
      pattern: "^\\d{1,11}$"
      example: "4585625"

    TerminalId:
      description: ID of the terminal originating the transaction. It must be unique per acquirer and channel. # TODO verificare correttezza
      type: string
      pattern: "^[0-9a-zA-Z]{1,8}$"
      example: "0aB9wXyZ"

    Enabled:
      description: Flag true if the terminal is enabled
      type: boolean
      pattern: "true|false" #todo corretto?
      example: "true"

    PayeeCode:
      description: Code of the entity that must receive the payment # todo verificare
      type: string
      pattern: "^[A-F0-9]{9}$" #todo approfondire lunghezza e pattern
      example: ""

    Slave:
      description: Flag true if the terminal is in slave mode
      type: boolean
      pattern: "true|false" #todo corretto?
      example: "true"

    PagoPa:
      description: Flag true if the channel pagopa is enabled
      type: boolean
      pattern: "true|false" #todo corretto?
      example: "true"

    Idpay:
      description: Flag true if the channel idpay is enabled
      type: boolean
      pattern: "true|false" #todo corretto?
      example: "true"

    PspId:
      description: ID of the pagopa psp
      type: string
      pattern: "^[0-9a-zA-Z]{1,8}$" #todo lunghezza e pattern
      example: "0aB9wXyZ"

    BrokerId:
      description: ID of the pagopa broker #todo non ho idea di cosa sia
      type: string
      pattern: "^[0-9a-zA-Z]{1,8}$" #todo lunghezza e pattern
      example: "0aB9wXyZ"

    ChannelId:
      description: ID of the pagopa channel #todo enum?
      type: string
      pattern: "^[0-9a-zA-Z]{1,8}$" #todo lunghezza e pattern
      example: "0aB9wXyZ"


#    Channel:
#      description: Channel originating the request
#      enum:
#        - ATM
#        - POS
#        - TOTEM
#        - CASH_REGISTER
#        - CSA
#      type: string
#      example: "ATM"

#    ClientCredentialsGrantType:
#      description: Grant type to get an access token with client credentials
#      enum:
#        - client_credentials
#      type: string
#      example: "client_credentials"

    Error:
      description: Error code
      type: string
      pattern: "^[A-F0-9]{9}$"
      example: "001000005"

#    ExternalTokenGrantType:
#      description: Grant type to get an access token by means of external token
#      enum:
#        - poynt_token
#      type: string
#      example: "poynt_token"

#    FiscalCode:
#      description: User fiscal (tax) code
#      type: string
#      pattern: "^(([A-Z]{6}\\d{2}[A-Z]\\d{2}[A-Z]\\d{3}[A-Z])|(\\d{11}))$"
#      example: "RSSMRA85T10A562S"

#    Issuer:
#      description: URL of token issuer
#      type: string
#      format: uri
#      pattern: "^[ -~]{1,2048}$"
#      example: "https://mil-d-apim.azure-api.net/mil-auth/"
#
#    JwksUri:
#      description: URL to get JKWS
#      type: string
#      format: uri
#      pattern: "^[ -~]{1,2048}$"
#      example: "https://mil-d-apim.azure-api.net/mil-auth/.well-known/jwks.json"
#
#    KeyType:
#      description: Key type
#      enum:
#        - RSA
#      type: string
#      example: "RSA"
#
#    MerchantId:
#      description: Merchant ID. Mandatory when Channel equals POS.
#      type: string
#      pattern: "^[0-9a-zA-Z]{1,15}$"
#      example: "28405fHfk73x88D"
#
#    Modulus:
#      description: Modulus
#      format: byte  # Base64/RFC4648 URL safe
#      minLength: 128 # bytes
#      maxLength: 512 # bytes
#      example: "qjcVEWJTTySeKxHsJSsmVGk2cEvXJ4tBC4uyU5MxYwBAiIWuZb_yDOIjLz7JN8QsJs3QrZtS3vqv18ljW2db6ED90OUo9CVJveSF4eNRozDHOvnHGT0HR-8Wf5GxcNy63zfQLrnfdp5F9TrhMFRMkEA0TCT7PhT3yF6YvwLtQyMciER1_KKnpGomfAkW-UpaF2nHfXiFPrOIHMuNb5BoRR1f0349tqloLgLd7vyMy1jg-BldmEgRV1bcFqjH0Cg3leROjDy9HzdFauRIlSb4VZrqNni2hgaTUHI5Xp7aCwpS9Y_mf19KpxN0_8d-f3UVRlwtI1dryelpdC5jowxia2Pf8UgSZyMs2ZxDf6eU0SH8wHEvMpeFpwmiBD1XcsISoTan0Yv7w_CLo6JOqX6EfogDQZUBzKKlVCZSoSinAz0_7Bj2orgWKQ9sbfgJWgJweKkJLH-bNSRaVcu02boxPnlJeay3wROhSAgtiKWZnsU1_FpPNG0JBFCh_x-VjkuBoREpNEyJM5NvhRCmyObtzocS4eCtAgvmo3EFv_Xa-rp0p5ez4A-_QUb5OsYOswqYbIV1GbtiAfCTOrNbv6K86LaTllZ9WqYrKgDv7KA-604K37k33LHROqcO9Q-bCN8hKzQDWs7M3DFNP6P5iBUUVs-gtWncHvIuUWTth-fBXa8"
#
#    OfflineAccessScope:
#      description: Scope for offline_access
#      enum:
#        - offline_access
#      type: string
#      example: "offline_access"
#
#    Password:
#      description: User password
#      type: string
#      pattern: "^[ -~]{1,64}$"
#      example: "Password-001$"
#
#    PasswordGrantType:
#      description: Grant type to get an access token with resource owner password
#      enum:
#        - password
#      type: string
#      example: "password"
#
#    PositiveInteger:
#      description: Non negative integer
#      type: integer
#      minimum: 1
#      example: 234
#
#    PublicExponent:
#      description: Public key exponent
#      type: string
#      format: byte # Base64/RFC4648 URL safe
#      minLength: 1
#      maxLength: 17
#      example: "AQAB"
#
#    PublicKeyUse:
#      description: Public key use
#      enum:
#        - sig
#        - enc
#      type: string
#      example: "sig"
#
#    RefreshGrantType:
#      description: Grant type to refresh an access token
#      enum:
#        - refresh_token
#      type: string
#      example: "refresh_token"
#
#    Token:
#      description: Token
#      type: string
#      pattern: "^[a-zA-Z0-9_-]{1,1024}\\.[a-zA-Z0-9_-]{1,1024}\\.[a-zA-Z0-9_-]{1,1024}$"
#      example: "eyJraWQiOiI2OWQzZDEwZi03MGRhLTQ5ODItYjI4ZC03MmU4MTQ4MzI4YTMiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwczovL21pbC1kLWFwaW0uYXp1cmUtYXBpLm5ldC9taWwtaWRwIiwiYXVkIjpbImh0dHBzOi8vbWlsLWQtYXBpbS5henVyZS1hcGkubmV0L21pbC1wYXltZW50LW5vdGljZSIsImh0dHBzOi8vbWlsLWQtYXBpbS5henVyZS1hcGkubmV0L21pbC1mZWUtY2FsY3VsYXRvciJdLCJleHAiOjE2Nzg3ODkyOTUsInNjb3BlIjoidmVyaWZ5QnlRckNvZGUgYWN0aXZhdGVCeVFyQ29kZSB2ZXJpZnlCeVRheENvZGVBbmROb3RpY2VOdW1iZXIgYWN0aXZhdGVCeVRheENvZGVBbmROb3RpY2VOdW1iZXIgY2xvc2UgZ2V0UGF5bWVudFN0YXR1cyBnZXRGZWUifQ.UJ8Vwv0NwF5S3fajgsdpgV-t6VeZAVC9dR0QGVpevC6Rw35tTx_1pJq2kI0GVAp0Vm7mNmgpZgzqx14QJfBmtTz3ZMJuUYVJUfHHQxxRxEyVBslrloOCqc8LfFkC-jmVQG5_9p9f6Tb7MB-h9J_f9ivtFX9gz7jK2Q_llD3HU0FujMgHEJiloKl7sp2uDaMIiy9dOKT7m0M6sA1tA84kwuJASudd_KWotideFsiA8LMBy_fGlEO7ogF-WytXD0XfW6VIBwQKq5KB3L3HxUuOZE1Gr2hubZ9SCeGAptiaPCWeEDf4w4x3IvKUL-rmm4bs4xalCmUbWcnTkKJi5f4N_8d2aRBrCL7k01rEK-OI1NH1-cCCk97eanNxvFEAKk_9t8rggipYt9BuL929p11LHVeYqqfemz1yrzc58LJXWPNgSMZ8XjKoITzsEiKWtGMYNV6GodJs_USnMKGIlc_uynZS0Q9mUV5IWhFaOZWFkM1nNwebMq9edg-kxtj1WpNkXfP1lahOMt36a9Rn2rWBLAhMBnerigsxFmUpi90EmbDkgOKTEXd3adOWLBb0jQSw0gPlNHe4bHh_LxBNNWljd6P9yZ4CYvZsWFwt_85d-PS56y-mNWV5oFMgPd-_qeF3Fn-QMj3Q5qySoqNCLzX7pnqjzXrveazLcR-CrroIUGM"
#
#    TokenEndpoint:
#      description: URL to get tokens
#      type: string
#      format: uri
#      pattern: "^[ -~]{1,2048}$"
#      example: "https://mil-d-apim.azure-api.net/mil-auth/token"
#
#    Username:
#      description: User name
#      type: string
#      pattern: "^[ -~]{1,64}$"
#      example: "Merchant-001"

    UUID:
      description: UUID
      type: string
      format: uuid
      pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
      example: "d0d654e6-97da-4848-b568-99fedccb642b"

    # ------------------------------------------------------
    # Complex types
    # ------------------------------------------------------
    PagoPaConf:
      description: PagoPa additional information
      type: object
      additionalProperties: false
      properties:
        pspId:
          $ref: '#/components/schemas/PspId'
        brokerId:
          $ref: '#/components/schemas/BrokerId'
        channelId:
          $ref: '#/components/schemas/ChannelId'
      required:
        - pspId
        - brokerId
        - channelId
      example:
        #todo example

    Terminal:
      description: Data of a terminal
      type: object
      additionalProperties: false
      properties:
        terminalHandlerId:
          $ref: '#/components/schemas/TerminalHandlerId'
        terminalId:
          $ref: '#/components/schemas/TerminalId'
        enabled:
          $ref: '#/components/schemas/Enabled'
        payeeCode:
          $ref: '#/components/schemas/PayeeCode'
        slave:
          $ref: '#/components/schemas/Enabled'
        pagoPa:
          $ref: '#/components/schemas/Enabled'
        pagoPaConf:
          $ref: '#/components/schemas/PagoPaConf'
        idpay:
          $ref: '#/components/schemas/Enabled'
      required:
        - terminalHandlerId
        - terminalId
        - enabled
        - payeeCode
        - slave
        - pagoPa
        - idpay
        #todo pagopaConf è opzionale
      example:
        #todo example

#    AccessToken:
#      description: Data returned when a new access token is requested
#      type: object
#      additionalProperties: false
#      properties:
#        access_token:
#          $ref: '#/components/schemas/Token'
#        refresh_token:
#          $ref: '#/components/schemas/Token'
#        token_type:
#          $ref: '#/components/schemas/BearerTokenType'
#        expires_in:
#          $ref: '#/components/schemas/PositiveInteger'
#      required:
#        - access_token
#        - token_type
#        - expires_in
#      example:
#        access_token: "eyJraWQiOiI2OWQzZDEwZi03MGRhLTQ5ODItYjI4ZC03MmU4MTQ4MzI4YTMiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwczovL21pbC1kLWFwaW0uYXp1cmUtYXBpLm5ldC9taWwtaWRwIiwiYXVkIjpbImh0dHBzOi8vbWlsLWQtYXBpbS5henVyZS1hcGkubmV0L21pbC1wYXltZW50LW5vdGljZSIsImh0dHBzOi8vbWlsLWQtYXBpbS5henVyZS1hcGkubmV0L21pbC1mZWUtY2FsY3VsYXRvciJdLCJleHAiOjE2Nzg3ODkyOTUsInNjb3BlIjoidmVyaWZ5QnlRckNvZGUgYWN0aXZhdGVCeVFyQ29kZSB2ZXJpZnlCeVRheENvZGVBbmROb3RpY2VOdW1iZXIgYWN0aXZhdGVCeVRheENvZGVBbmROb3RpY2VOdW1iZXIgY2xvc2UgZ2V0UGF5bWVudFN0YXR1cyBnZXRGZWUifQ.UJ8Vwv0NwF5S3fajgsdpgV-t6VeZAVC9dR0QGVpevC6Rw35tTx_1pJq2kI0GVAp0Vm7mNmgpZgzqx14QJfBmtTz3ZMJuUYVJUfHHQxxRxEyVBslrloOCqc8LfFkC-jmVQG5_9p9f6Tb7MB-h9J_f9ivtFX9gz7jK2Q_llD3HU0FujMgHEJiloKl7sp2uDaMIiy9dOKT7m0M6sA1tA84kwuJASudd_KWotideFsiA8LMBy_fGlEO7ogF-WytXD0XfW6VIBwQKq5KB3L3HxUuOZE1Gr2hubZ9SCeGAptiaPCWeEDf4w4x3IvKUL-rmm4bs4xalCmUbWcnTkKJi5f4N_8d2aRBrCL7k01rEK-OI1NH1-cCCk97eanNxvFEAKk_9t8rggipYt9BuL929p11LHVeYqqfemz1yrzc58LJXWPNgSMZ8XjKoITzsEiKWtGMYNV6GodJs_USnMKGIlc_uynZS0Q9mUV5IWhFaOZWFkM1nNwebMq9edg-kxtj1WpNkXfP1lahOMt36a9Rn2rWBLAhMBnerigsxFmUpi90EmbDkgOKTEXd3adOWLBb0jQSw0gPlNHe4bHh_LxBNNWljd6P9yZ4CYvZsWFwt_85d-PS56y-mNWV5oFMgPd-_qeF3Fn-QMj3Q5qySoqNCLzX7pnqjzXrveazLcR-CrroIUGM"
#        refresh_token: "eyJraWQiOiIxN2YwNWViZC1hMWMzLTRjNWMtODM4Ny1jOWZlNjU4MDRiMDEiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwczovL21pbC1kLWFwaW0uYXp1cmUtYXBpLm5ldC9taWwtaWRwIiwiYXVkIjoiaHR0cHM6Ly9taWwtZC1hcGltLmF6dXJlLWFwaS5uZXQvbWlsLWlkcCIsImV4cCI6MTY3ODg4MTA1NSwic2NvcGUiOiJvZmZsaW5lX2FjY2VzcyJ9.Bu-BXKRMoE8fdBfuoPAa70WQYUWVH3BK3VFMw-9mr7hGlKBSONXQY8vcrFuh4OLm6vHX2hUagYuJ3yS_Anm5AHU8Kpay0dGm30fyPxFAyv5s_Yn_ET3VExPZBedBSlHl0Rzt0JQ_9X07X0JkCwWacxWMueKNoVndAh3QxswbkwtEANAKvQcvAtdLjh-93eDYFq0vvS8qNRReTZf46fldIL9H5-0MMqjfVi5A6y8YCzx7_kOHKq8wCy7u75QtKhPRzYnY0JcBVMALZgQovpCYpnlPkP3JV3cgdmlDGWmGHbKQz9iQ5bY1071e3vhxqR2iEqFJwn7nohYq9sxkMQGxNxz2BI-w3v_SQ3zS3mI1qK_qm1c7yzyF3c_lB920T5hBup9RozIXVb2OkX38pW6JKORETgSLlhnqLc8Rr1_HaQ2qN_JYcn7Urv_0mSJh-i8zS39F1glY3ejHHiVbl8cSJsPPw-ehpKAozf6h0_JiZBe0TuBtyTNULQH1iri19C9z_XBgBnfC1DtrnQn-UIgGbJq1TnIgtVmtTnReJqDpcf6_MGDLqCL-x192UQszb8GgWjD8tRusJ9X5HG1RHUAVyQ5gfOCegHmymyB7Dx7e5fCOghDUTT0t2dvVKbIXZGilrddKBg70iBGDA5j5-01lvnl2aaxBv51Y_zr-3IZdAyA"
#        token_type: "Bearer"
#        expires_in: 36000

    Errors:
      description: List of errors
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/Error'
      required:
        - errors
      example:
        errors:
          - "00000000A"
          - "001000001"

#    GetAccessTokenByClientCredentials:
#      description: Request to get an access token by means of client credentials
#      type: object
#      additionalProperties: false
#      properties:
#        grant_type:
#          $ref: '#/components/schemas/ClientCredentialsGrantType'
#        client_id:
#          $ref: '#/components/schemas/UUID'
#        client_secret:
#          $ref: '#/components/schemas/UUID'
#      required:
#        - grant_type
#        - client_id
#        - client_secret
#      example:
#        grant_type: "client_credentials"
#        client_id: "d0d654e6-97da-4848-b568-99fedccb642b"
#        client_secret: "265a5ac0-c651-428e-bed6-763f6cd244b5"

#    GetAccessTokenByExternalToken:
#      description: Request to get an access token by means of external token
#      type: object
#      additionalProperties: true
#      properties:
#        grant_type:
#          $ref: '#/components/schemas/ExternalTokenGrantType'
#        ext_token:
#          $ref: '#/components/schemas/ExternalToken'
#        add_data:
#          $ref: '#/components/schemas/AdditionalData'
#        scope:
#          $ref: '#/components/schemas/OfflineAccessScope'
#        client_id:
#          $ref: '#/components/schemas/UUID'
#      required:
#        - grant_type
#        - ext_token
#        - add_data
#        - client_id
#      example:
#        grant_type: "poynt_token"
#        ext_token: "eyJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJOZXhpIiwicG95bnQuZGlkIjoidXJuOnRpZDo1NTYyYjhlZC1lODljLTMzMmEtYThkYy1jYTA4MTcxMzUxMTAiLCJwb3ludC5kc3QiOiJEIiwicG95bnQub3JnIjoiMGU2Zjc4ODYtMDk1Ni00NDA1LWJjNDgtYzE5ODY4ZDdlZTIyIiwicG95bnQuc2N0IjoiVSIsImlzcyI6Imh0dHBzOlwvXC9zZXJ2aWNlcy1ldS5wb3ludC5uZXQiLCJwb3ludC51cmUiOiJPIiwicG95bnQua2lkIjozOTMyNDI1MjY4MDY5NDA5MjM0LCJwb3ludC5zY3YiOiJOZXhpIiwicG95bnQuc3RyIjoiZDNmZDNmZDMtMTg5ZC00N2M4LThjMzYtYjY4NWRkNjBkOTY0IiwiYXVkIjoidXJuOnRpZDo1NTYyYjhlZC1lODljLTMzMmEtYThkYy1jYTA4MTcxMzUxMTAiLCJwb3ludC51aWQiOjM3MzY1NzQsInBveW50LmJpeiI6IjRiN2ViOTRiLTEwYzktNGYxMS1hMTBlLTcyOTJiMjlhYjExNSIsImV4cCI6MTY4MDc4MzUzNiwiaWF0IjoxNjgwNjk3MTM2LCJqdGkiOiI3MjBmMDFlZS1iZDk4LTRjYjItOTU2Mi0xZjI4YWY2NGJhZGYifQ.dTuvtzqy9oPWIN4NIBdhIR09Xpm70dgRCP-ybuVLo24DwqaysPKNmEHDXcq2gGE1w2L6e783_PXRK3RI0j1TQRFeLRbiPzN5imBdrJ2LlV8QNdkElOl2x32j652YeFcoAitBzFss_Do0_rquU_008eeIXWa-B-AiMsdAqgLUiMigsTT42rQYr7Mb8Am_NWwvZ9-DWiox6HbuUNUo3TStBmLervqlQ5j2_3AzcOILp8cJX0699fw7Y6gcu_pNHgjswqD0UVPSAmHf_bqFAH6b98qHVKe3isMSoktYi4FfWdpG1ykviEp9Ii0QKfeLnqyIR6g2o2XzGlDv7Usv5ouiXg"
#        add_data: "4b7eb94b-10c9-4f11-a10e-7292b29ab115"
#        scope: "offline_access"
#        client_id: "d0d654e6-97da-4848-b568-99fedccb642b"
#
#    GetAccessTokenByPassword:
#      description: Request to get an access token by means of resource owner password
#      type: object
#      additionalProperties: true
#      properties:
#        grant_type:
#          $ref: '#/components/schemas/PasswordGrantType'
#        username:
#          $ref: '#/components/schemas/Username'
#        password:
#          $ref: '#/components/schemas/Password'
#        scope:
#          $ref: '#/components/schemas/OfflineAccessScope'
#        client_id:
#          $ref: '#/components/schemas/UUID'
#      required:
#        - grant_type
#        - username
#        - password
#        - client_id
#      example:
#        grant_type: "password"
#        username: "Merchant-001"
#        password: "Password-001$"
#        scope: "offline_access"
#        client_id: "d0d654e6-97da-4848-b568-99fedccb642b"
#
#    OpenIdConf:
#      description: OpenID configuration
#      type: object
#      additionalProperties: false
#      properties:
#        issuer:
#          $ref: '#/components/schemas/Issuer'
#        token_endpoint:
#          $ref: '#/components/schemas/TokenEndpoint'
#        jwks_uri:
#          $ref: '#/components/schemas/JwksUri'
#
#    PublicKey:
#      description: Public key
#      type: object
#      additionalProperties: false
#      properties:
#        kty:
#          $ref: '#/components/schemas/KeyType'
#        e:
#          $ref: '#/components/schemas/PublicExponent'
#        use:
#          $ref: '#/components/schemas/PublicKeyUse'
#        kid:
#          $ref: '#/components/schemas/UUID'
#        exp:
#          $ref: '#/components/schemas/PositiveInteger'
#        iat:
#          $ref: '#/components/schemas/PositiveInteger'
#        n:
#          $ref: '#/components/schemas/Modulus'
#      required:
#        - kty
#        - e
#        - use
#        - kid
#        - exp
#        - iat
#        - n
#      example:
#        kty: "RSA"
#        e: "AQAB"
#        use: "sig"
#        kid: "0ffa8f8d-d92b-46ee-a4e7-8f26651a2a96"
#        exp: 1678975089
#        iat: 1678888689
#        n: "qjcVEWJTTySeKxHsJSsmVGk2cEvXJ4tBC4uyU5MxYwBAiIWuZb_yDOIjLz7JN8QsJs3QrZtS3vqv18ljW2db6ED90OUo9CVJveSF4eNRozDHOvnHGT0HR-8Wf5GxcNy63zfQLrnfdp5F9TrhMFRMkEA0TCT7PhT3yF6YvwLtQyMciER1_KKnpGomfAkW-UpaF2nHfXiFPrOIHMuNb5BoRR1f0349tqloLgLd7vyMy1jg-BldmEgRV1bcFqjH0Cg3leROjDy9HzdFauRIlSb4VZrqNni2hgaTUHI5Xp7aCwpS9Y_mf19KpxN0_8d-f3UVRlwtI1dryelpdC5jowxia2Pf8UgSZyMs2ZxDf6eU0SH8wHEvMpeFpwmiBD1XcsISoTan0Yv7w_CLo6JOqX6EfogDQZUBzKKlVCZSoSinAz0_7Bj2orgWKQ9sbfgJWgJweKkJLH-bNSRaVcu02boxPnlJeay3wROhSAgtiKWZnsU1_FpPNG0JBFCh_x-VjkuBoREpNEyJM5NvhRCmyObtzocS4eCtAgvmo3EFv_Xa-rp0p5ez4A-_QUb5OsYOswqYbIV1GbtiAfCTOrNbv6K86LaTllZ9WqYrKgDv7KA-604K37k33LHROqcO9Q-bCN8hKzQDWs7M3DFNP6P5iBUUVs-gtWncHvIuUWTth-fBXa8"
#
#    PublicKeys:
#      description: Public keys
#      type: object
#      additionalProperties: false
#      properties:
#        keys:
#          type: array
#          maxItems: 32
#          items:
#            $ref: '#/components/schemas/PublicKey'
#      required:
#        - keys
#      example:
#        keys:
#          - kty: "RSA"
#            e: "AQAB"
#            use: "sig"
#            kid: "0ffa8f8d-d92b-46ee-a4e7-8f26651a2a96"
#            exp: 1678975089
#            iat: 1678888689
#            n: "qjcVEWJTTySeKxHsJSsmVGk2cEvXJ4tBC4uyU5MxYwBAiIWuZb_yDOIjLz7JN8QsJs3QrZtS3vqv18ljW2db6ED90OUo9CVJveSF4eNRozDHOvnHGT0HR-8Wf5GxcNy63zfQLrnfdp5F9TrhMFRMkEA0TCT7PhT3yF6YvwLtQyMciER1_KKnpGomfAkW-UpaF2nHfXiFPrOIHMuNb5BoRR1f0349tqloLgLd7vyMy1jg-BldmEgRV1bcFqjH0Cg3leROjDy9HzdFauRIlSb4VZrqNni2hgaTUHI5Xp7aCwpS9Y_mf19KpxN0_8d-f3UVRlwtI1dryelpdC5jowxia2Pf8UgSZyMs2ZxDf6eU0SH8wHEvMpeFpwmiBD1XcsISoTan0Yv7w_CLo6JOqX6EfogDQZUBzKKlVCZSoSinAz0_7Bj2orgWKQ9sbfgJWgJweKkJLH-bNSRaVcu02boxPnlJeay3wROhSAgtiKWZnsU1_FpPNG0JBFCh_x-VjkuBoREpNEyJM5NvhRCmyObtzocS4eCtAgvmo3EFv_Xa-rp0p5ez4A-_QUb5OsYOswqYbIV1GbtiAfCTOrNbv6K86LaTllZ9WqYrKgDv7KA-604K37k33LHROqcO9Q-bCN8hKzQDWs7M3DFNP6P5iBUUVs-gtWncHvIuUWTth-fBXa8"
#
#    RefreshAccessToken:
#      description: Request to get an access token by means of a refresh token
#      type: object
#      additionalProperties: true
#      properties:
#        grant_type:
#          $ref: '#/components/schemas/RefreshGrantType'
#        client_id:
#          $ref: '#/components/schemas/UUID'
#        refresh_token:
#          $ref: '#/components/schemas/Token'
#      required:
#        - grant_type
#        - client_id
#        - refresh_token
#      example:
#        grant_type: "refresh_token"
#        client_id: "d0d654e6-97da-4848-b568-99fedccb642b"
#        refresh_token: "eyJraWQiOiIxN2YwNWViZC1hMWMzLTRjNWMtODM4Ny1jOWZlNjU4MDRiMDEiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwczovL21pbC1kLWFwaW0uYXp1cmUtYXBpLm5ldC9taWwtaWRwIiwiYXVkIjoiaHR0cHM6Ly9taWwtZC1hcGltLmF6dXJlLWFwaS5uZXQvbWlsLWlkcCIsImV4cCI6MTY3ODg4MTA1NSwic2NvcGUiOiJvZmZsaW5lX2FjY2VzcyJ9.Bu-BXKRMoE8fdBfuoPAa70WQYUWVH3BK3VFMw-9mr7hGlKBSONXQY8vcrFuh4OLm6vHX2hUagYuJ3yS_Anm5AHU8Kpay0dGm30fyPxFAyv5s_Yn_ET3VExPZBedBSlHl0Rzt0JQ_9X07X0JkCwWacxWMueKNoVndAh3QxswbkwtEANAKvQcvAtdLjh-93eDYFq0vvS8qNRReTZf46fldIL9H5-0MMqjfVi5A6y8YCzx7_kOHKq8wCy7u75QtKhPRzYnY0JcBVMALZgQovpCYpnlPkP3JV3cgdmlDGWmGHbKQz9iQ5bY1071e3vhxqR2iEqFJwn7nohYq9sxkMQGxNxz2BI-w3v_SQ3zS3mI1qK_qm1c7yzyF3c_lB920T5hBup9RozIXVb2OkX38pW6JKORETgSLlhnqLc8Rr1_HaQ2qN_JYcn7Urv_0mSJh-i8zS39F1glY3ejHHiVbl8cSJsPPw-ehpKAozf6h0_JiZBe0TuBtyTNULQH1iri19C9z_XBgBnfC1DtrnQn-UIgGbJq1TnIgtVmtTnReJqDpcf6_MGDLqCL-x192UQszb8GgWjD8tRusJ9X5HG1RHUAVyQ5gfOCegHmymyB7Dx7e5fCOghDUTT0t2dvVKbIXZGilrddKBg70iBGDA5j5-01lvnl2aaxBv51Y_zr-3IZdAyA"

  # ========================================================
  # Request bodies
  # ========================================================
  requestBodies:
    TerminalBody:
      description: Request body containing the terminal information
      content:
        application/json:
          schema:
            - $ref: '#/components/schemas/Terminal'

  # ========================================================
  # Parameters
  # ========================================================
  parameters:
#    AcquirerId:
#      name: AcquirerId
#      in: header
#      description: Acquirer ID assigned by PagoPA
#      required: false
#      schema:
#        $ref: '#/components/schemas/AcquirerId'
#
#    Channel:
#      name: Channel
#      in: header
#      description: Channel originating the request
#      required: false
#      schema:
#        $ref: '#/components/schemas/Channel'
#
#    FiscalCode:
#      name: FiscalCode
#      in: header
#      description: User fiscal (tax) code
#      required: false
#      schema:
#        $ref: '#/components/schemas/FiscalCode'
#
#    MerchantId:
#      name: MerchantId
#      description: Merchant ID. Mandatory when Channel equals POS.
#      in: header
#      required: false
#      schema:
#        $ref: '#/components/schemas/MerchantId'
#
    RequestId:
      name: RequestId
      in: header
      description: Request Id that will be logged by services
      required: false #todo da capire
      schema:
        $ref: '#/components/schemas/UUID'

#    TerminalId:
#      name: TerminalId
#      in: header
#      description: ID of the terminal originating the transaction. It must be unique per acquirer and channel.
#      required: false
#      schema:
#        $ref: '#/components/schemas/TerminalId'
#
#    Version:
#      name: Version
#      in: header
#      description: Version of the required API
#      required: false
#      schema:
#        type: string
#        pattern: "^[ -~]{1,64}$"
#        example: "1.0.0-alpha-a.b-c-somethinglong+build.1-aef.1-its-okay"

  # ========================================================
  # Responses
  # ========================================================
  responses:
#    AccessToken:
#      description: Response provided when an access token is requested
#      content:
#        application/json:
#          schema:
#            $ref: '#/components/schemas/AccessToken'

    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'

#    Jwks:
#      description: Public keys
#      content:
#        application/json:
#          schema:
#            $ref: '#/components/schemas/PublicKeys'
#
#    OpenIdConf:
#      description: OpenID configuration
#      content:
#        application/json:
#          schema:
#            $ref: '#/components/schemas/OpenIdConf'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT